

main {
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: start;
    margin-top: -10px;
}

main div {
    flex: 0 0 calc(25% - 20px);
    margin: 10px;
    text-align: center;
}

main div img {
    width: 100%;
    max-width: 100%;
    height: auto;
    border-radius: 8px;
    transition: transform 0.5s;
}

main div img:hover {
    transform: scale(1.1);
}



@media screen and (max-width: 900px) {
    header {
        flex-direction: column;
        align-items: center;
        margin: 0 auto 5px;
        height: auto;
    }
    main div {
        flex: 0 0 calc(50% - 20px); /* Dos columnas en modo tableta */
    }
}

@media screen and (max-width: 600px) {
    header {
        flex-direction: column;
        align-items: center;
        margin: 0 auto 5px;
        height: auto;
    }
    main div {
        flex: 0 0 calc(100% - 20px); /* Una columna en modo móvil */
    }
}
